body {
    margin: 0px auto;
    height: auto;
    background-color: #EBE7E6;
    justify-content: center;
    width: 100%;
}


/* ici c'est l'entete (menu)*/

.entete .logo {
    width: 90px;
    margin-left: -47px;
}

.loupe {
    margin-left: 350px;
    margin-top: -40px;
}

.panier {
    margin-top: 1.5%;
}

.menus {
    font-family: 'Prompt', sans-serif;
    display: flex;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    margin-left: 50px;
    transition: color .3s;
}

.mens {
    transition: color.3s;
}

.mens:hover,
.mens.active {
    color: #f20707;
}

.mens {
    margin: 20px;
    text-decoration: none;
    color: black
}

.eve {
    margin-right: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 2%;
    margin-left: -500px;
}

.recherchebut {
    margin-top: 6%;
}

.search {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    border-width: 2px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

.recherchebut ::placeholder {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: justify;
    margin-left: 5px;
}

.panier {
    margin-top: 20px;
}

.button {
    margin-top: 15%;
    cursor: pointer;
    margin-right: 30px;
    font-size: 17px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    box-shadow: black 1px 1px 1px;
    background-color: #017C3A;
    color: #ffffff;
    font-family: 'Candal ', sans-serif;
}

.plat_grand {
    height: 750px;
    float: right;
    margin-top: -70px;
    animation: transform cubic-bezier(0, 0, 0, 0.99) .10s;
}

.plat_grand:hover {
    transform: scale(1.1) rotate(10deg);
}

.menrese {
    float: none;
    margin-top: -10%;
    margin-left: -5%;
}

.votre {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 850;
    font-size: 100px;
    margin-left: 3%;
    margin-top: 3%;
    animation: votre 200ms;
}

@keyframes votre {
    0% {
        transform: translateX(-9999);
    }
    100% {
        transform: translateX(0);
    }
}

.vtr {
    display: flex;
}

.votre {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
        transform: translateX(290px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.butt {
    margin-left: 8%;
    margin-top: 0%;
    color: rgb(255, 255, 255);
    border: none;
    background-color: #017C3A;
    font-size: 1.9em;
    border-radius: 50px;
    width: 220px;
    height: 50px;
    font-family: 'Britannic', Bold;
    box-shadow: 1px 2px 1px rgb(46, 46, 46);
    cursor: pointer;
}

.butt2 {
    color: rgb(0, 0, 0);
    border: none;
    background-color: #ffffff;
    font-size: 1.9em;
    border-radius: 50px;
    width: 220px;
    height: 50px;
    font-family: 'Britannic', Bold;
    box-shadow: 1px 2px 1px rgb(46, 46, 46);
    margin-left: 5px;
    cursor: pointer;
}


/* debut page 2*/

.nos_menu {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    color: #E56E00;
    margin-top: 10%;
    margin-left: 3.5%;
}

.slideplats {
    margin-left: 19%;
}

.imslide {
    margin-top: 7%;
    height: 400px;
}

.buttonnnn {
    margin-top: -160px;
}

.défil1 {
    margin-left: 70px;
}

.défil2 {
    margin-left: 710px;
    margin-top: -20px;
}

.butnosplats {
    align-items: center;
    margin-left: 28%;
    margin-top: 15%;
}

.nopla {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    cursor: pointer;
    height: 60px;
    width: 700px;
    border-radius: 20px;
    background-color: #E56E00;
    color: #ffffff;
    border: none;
}

.livraison {
    display: flex;
    margin-left: 33%;
    margin-top: 3%;
}

.livraison {
    animation-duration: 2s;
    animation-name: glissement;
    animation-iteration-count: infinite;
}

@keyframes glissement {
    0% {
        margin-right: 100%;
        width: 300%;
        opacity: 0;
    }
    50% {
        margin-right: 0%;
        width: 100%;
        opacity: 1;
    }
    100% {
        margin-right: -200%;
        width: 100%;
        opacity: 0;
    }
}

.imgliv {
    height: 150px
}

.livpartout {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 50px;
}


/* section partenaire*/

.Pat {
    background-color: #ffffff;
    padding: 20px;
}

.nopat {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}

.img1 {
    height: 80px;
}

.img2 {
    height: 60px;
}


/* debut page 2*/

.imgparte {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 1400px;
}


/* Nous contacter, ici débute le formulaire*/

.formulaire {
    display: flex;
    padding: 50%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #E56E00;
    padding: 100px;
}

.nct {
    font-size: 40px;
    color: #ffffff
}

input::placeholder {
    padding-left: 10px;
}

.form {
    margin-left: 30%;
}

.txt {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 30px;
    margin: 10px;
    margin-left: 0px;
}

.inputsemi {
    height: 40px;
    width: 250px;
    border: none;
}

.inputsemi1 {
    height: 40px;
    width: 250px;
    border: none;
}

.quest {
    height: 80px;
    width: 600px;
    border: none;
}

.admail {
    height: 40px;
    width: 600px;
    border: none;
}

.soum {
    height: 50px;
    width: 200px;
    border: none;
    font-size: 30px;
    font-family: 'Josefin Sans ', sans-serif;
    cursor: pointer;
}

#case {
    height: 120px;
    width: 600px;
    border: none;
}


/* section localisation      */

.loc {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 18%;
    font-size: 200%;
}

.loca {
    margin-left: 18%;
}


/* section avis clients */

.redi {
    margin-left: 698px;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 25px;
    height: 35px;
    width: 220px;
    margin-top: 54px;
    text-align: center;
}

.avi {
    margin-left: 140px;
    font-weight: 600;
    color: white;
    font-size: 30px;
    margin-top: -30px;
    margin-bottom: -95px;
}

.av {
    margin-bottom: 35px;
}

.imgcrayon {
    margin-left: 710px;
    margin-top: -50px;
    margin-bottom: 28px;
}

.divavi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Premier avis (rose) */

.rose {
    margin: 10%;
    display: flex;
    background-color: white;
    border-radius: 30px;
    height: 160px;
    width: 400px;
    margin-top: 40px;
}

.imgrose1 {
    height: 50px;
    margin-top: 9px;
    margin-left: 9px;
}

.nomrose1 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 105%;
    margin-left: 10px;
}

.comrose1 {
    margin-top: 50px;
    margin-left: -100px;
}

.datrose1 {
    margin-top: 135px;
    margin-left: -110px;
    font-weight: 600;
}


/* deuxième avis (Karim)*/

.karim {
    margin: 10%;
    display: flex;
    background-color: white;
    border-radius: 30px;
    height: 160px;
    width: 400px;
    margin-top: -100px;
}

.imgkarim1 {
    height: 50px;
    margin-top: 9px;
    margin-left: 9px;
}

.nomkarim1 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 105%;
    margin-left: 10px;
}

.comkarim1 {
    margin-top: 50px;
    margin-left: -100px;
}

.datkarim1 {
    margin-top: 135px;
    margin-left: -110px;
    font-weight: 600;
}


/* troixième avi (fall) */

.fall {
    margin: 10%;
    display: flex;
    background-color: white;
    border-radius: 30px;
    height: 160px;
    width: 400px;
    margin-top: -100px;
    margin-left: 550px;
}

.imgfall2 {
    height: 50px;
    margin-top: 9px;
    margin-left: 9px;
}

.nomfall2 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 105%;
    margin-left: 10px;
}

.comfall2 {
    margin-top: 50px;
    margin-left: -100px;
}

.datfall2 {
    margin-top: 135px;
    margin-left: -110px;
    font-weight: 600;
}


/* quatrième avis (césare) */

.césare2 {
    margin: 10%;
    display: flex;
    background-color: white;
    border-radius: 30px;
    height: 160px;
    width: 400px;
    margin-top: -472px;
    margin-left: 550px;
}

.imgcésare2 {
    height: 50px;
    margin-top: 9px;
    margin-left: 9px;
}

.nomcésare2 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 105%;
    margin-left: 10px;
}

.comcésare2 {
    margin-top: 50px;
    margin-left: -100px;
}

.datcésare2 {
    margin-top: 135px;
    margin-left: -110px;
    font-weight: 600;
}


/* section réseaux sociaux*/

.backréseaux {
    background-color: black;
    height: 70px;
    width: 1583px;
    margin-top: -70px;
}

.icon {
    justify-content: center;
    display: flex;
    opacity: .6;
    transition: opacity .3s;
    margin-bottom: -30px;
    padding-top: 11px;
}

.icon:hover {
    opacity: 1;
}

.fcbook {
    height: 42px;
    margin-top: 4px;
    margin-right: 70px;
}

.insta {
    height: 50px;
    margin-right: 70px;
}

.what {
    height: 47px;
    margin-top: 3px;
}


/* section footer*/

.backend {
    background-color: #EBE7E6;
    height: 210px;
    width: 1583px;
    margin-top: 10px;
    display: flex;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
}

.divrestau {
    margin-left: 150px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
}

.logos {
    height: 200px;
    margin-left: 120px;
    margin-top: -10px;
}

.besoin {
    margin-left: 350px;
    margin-top: -169px;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
}

.divbetel {
    display: flex;
}

.restezcon {
    margin-top: 65px;
    font-weight: 100;
    font-size: 16.5px;
    margin-left: 60px;
    font-family: 'Josefin Sans', sans-serif;
}

.abonner {
    color: white;
    text-align: center;
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    align-content: center;
    background-size: 20px;
    border: solid #070707;
}

.betel {
    margin-left: 350px;
}

.apropos {
    margin-left: 140px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -2px;
}

.bas {
    margin-left: 120px;
    font-family: 700;
}

.copyright {
    margin-left: 90px;
    font-size: 15px;
    margin-top: -2px;
}

.dev {
    margin-left: 20px;
    margin-top: -4px;
}


/* media queries
à partir d'ici commence la responsivité*/

